body {
	padding: 10;
}

.signup-container, .login-container{
	margin: 0 auto;
	margin-top: 80px;
	height: 500px;
	width: 400px;
}

.signup-form, .login-form{
	margin-top: 20px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
	-webkit-box-shadow: 0 0 0 30px white inset !important;
}

input:focus, textarea:focus{
	outline: none;
}

.signup-input, .login-input{
	padding: 10px;
	width: 400px;
	margin-top: 30px;
	border: none;
	background: none;
	border-bottom: 1px solid rgb(129, 187, 249);
	transition: 0.3s;
	/* border-radius: 5px; */
}

.signup-input:focus, .login-input:focus{
	border-bottom: 3px solid #007BFF;
}

.signup-button, .login-button{
	margin-top: 30px;
	height: 50px;
	width: 400px;
	background-color: #007BFF;
	border-radius: 5px;
	color: white;
	cursor: pointer;
	/* transition:  */
}

.separator{
	border: none;
	border-bottom: 1px solid grey;
	width: 80%;
	padding: 10px 0px;
	margin: 0 auto;
}

.google-login-container{
	width: 100%;
	margin-top: 30px;
}

.create-account-container{
	width: 100%;
	margin-top: 15px;
}

#google-login-button{
	width: 50%;
}